public
dist
/node_modules
/vite.config.js
/postcss.config.js
/src/components/MapChart/*.json
**/*.svg
**/*.ico
.DS_Store
.eslintignore
*.png
*.toml
.editorconfig
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
CNAME
/build
